<%- include('header_2') -%>

<!-- <div class="container back">
    <div class="row my-4">
        <div class="margin">
        <p class="m-0 b2  text-capitalize fon14">get listed for free in the</p>
        <p class="m-0"> <span class="b1"> connect-1</span> <span class="fon14"> and find professional </span></P>
            <p class="mt-0 b  fon14">directory</p>
         <form action="" method="post">
            <div class="form-group mt-0 mb-0">
            <label for="fn" class="fon11">Comapany name*</label>
            <input type="text" name="fn" id="" class="border-0">
            </div>
            <br>
            <p class="fon11 m-0 p-0 mb-0">Professional Catogary*</p>
            <div class="form-group">
            <select name="" id="" class="my-2 mb-0 mt-0">
                <option value=""></option>
                <option value=""> option2</option>
                <option value="">option 3 </option>
                <option value="">option 4 </option>
            </select>

            </div>
            <br>
            <div class=" m-0 pb-0 mt-0 mb-0">
                <label for="fn" class="fon11">Phone Number*</label>
                <input type="text" name="fn" id="" class="my-2 mt-0 mb-0">
                </div>
               <br>
            <p class="mb-0 mt-0 fon11">Countary*</p>
            <div class="m-0 pb-0 mt-0 mb-0">
            <select name="" id="" class="my-2 mb-0 w-100 mt-0 ">
                <option value=""></option>
                <option value="">option 2</option>
                <option value="">option 3</option>
                <option value="">option 4</option>
            </select>
            </div>
            <p class="p1 mt-2 fon">By clicking or tapping "create Business profile",you agree to the </p>
            <p class="colo fon11 "><b>professional policy.</b> </p>
            <div>
                <input type="submit" value="CREATE A BUSINESS PROFILE" class="bcolor text-white py-2 mb-2 fon14 ">
            </div>
         </form>
         
</div>
    </div>
</div> -->



<div class="container-fluid back-image">
    <div class="row  d-flex ">

        <div class="col-3 p-2 font20 text-center text-white">
         <a href="/profile"> <i class="fa-solid fa-arrow-left text-white"></i></a>
        </div>
        <div class="col-8 p-2 font20 text-white">Business-Details</div>
    </div>
  


    
<div class="row bg-white mt-5 pt-3 " style=" border-radius: 20px 20px 0px 0px;">
    <div class="col">

            <div class="mt-3 bd py-2 border rounded shadow2 border border-dark">
            <span> <i class="fa-solid fa-briefcase  ms-2"></i> 
            <input type="text" name="" class="w-75 border-0 ms-2" placeholder="Business Name"  id="">
            </span>
            </div>
         
            <div class="mt-3 bd py-2 border rounded shadow2 border border-dark">
            <span><i class="fa-solid fa-phone ms-2"></i> 
            <input type="text" name="" class="w-75 border-0 ms-2" placeholder="Business Phone"  id="">
            </span>
            </div>
         

            <!-- <div class="mt-3 bd py-2 border rounded d-flex justify-content-start form-group">
             <div> <span><i class="fa-solid fa-briefcase"></i></span></div>
                <div><select name="" id="" class="w-100" placeholder="select1">
                  <option value="" class="width">this</option>
                  <option value="" class="width">dd</option>
                  <option value="" class="width"></option>
                </select>
                </div>
              </span>
            </div> -->





            
            <!-- <div class="mt-3 bd py-2 border rounded">
              <span><i class="fa-solid fa-phone mx-1"></i> 

<select name="" id="" >
  <option value="">a</option>
  <option value="">b</option>
  <option value="">c</option>
  <option value="">d</option>
</select>

              <input type="text" name="" class="w-75 border-0" placeholder="Business Phone"  id="">
              </span>
              </div>
            -->





            <!-- <label for="pet-select">Choose a pet:</label> -->




<!-- <div class="d-flex justify-content-start"> -->
  <!-- <i class="fa-solid fa-briefcase mx-1"></i> -->
  <div>
            <select name="pets" id="pet-select" class="w-100 fon13 font-color border py-2 mt-3 rounded-1 shadow2 border border-dark">
              <option class="ms-2" value="" aria-readonly=""> 📓 business-catogary</option>
              <option value="dog"> 📓 business Catogary 1</option>
              <option value="cat">📓 business catogary 2</option>
              <option value="hamster">📓 this profile</option>
              <option value="parrot">📓 Plz add this one</option>
              <option value="spider"> 📓 choose</option>
              <option value="goldfish"> 📓 this one</option>
            </select>

            </div>
            <!-- </div> -->
            <div>
              <select name="pets" id="pet-select" class="w-100 border font14 font-color py-2 mt-3 rounded-1 shadow2 border border-dark">
                <option value="">📓  Country</option>
              <option value=""> 📓 Please choose for locaation</option>
              <option value="dog"> ✈ your location</option>
              <option value="cat"> ✈ your location2 </option>
              <option value="hamster"> ✈ your location3</option>
              <option value="parrot"> ✈ your location4</option>
              <option value="spider"> ✈ your locaation5</option>
              <option value="goldfish"> ✈ your location 6</option>
            </select>
            </div>
            <!-- </div> -->
            

           
         <div class="mt-3">
             <p class="font12">By clicking on the 'Save' button below, you'll be accepting the <a class="text-info font12">Professional Privacy Policy</a></p>
         </div>
        
         <div class="mt-3 text-center">
          <a href="/home" type="button" class="btn w-100 topic text-white">Create Business Profile</a>
          <!-- <button type="submit" class="bttn py-2 d-block shadow1">create business profile</button> -->
        </div>
      </form>
    </div>
</div>


<%- include('footer_2') -%>
   