<%- include('header') -%>
<!--  -->
<div class="container-fluid header">
    <div class="row justify-content-center py-1 ">
        <div class="col-6 editprofile text-center">
            <a href="">Customer Profile</a>
        </div>
    </div>
</div>

<div class="container-fluid customer_profile">
    <div class="row p-3">
        <h6>INTRODUCE YOURSELF</h6>
        <form action="" method="post">
            <div>
                <label class="w-100 mt-2" for="">First Name</label>
                <input  class="w-100" type="text">
            </div>
            <div>
                <label  class="w-100 mt-2" for="">Last Name</label>
                <input  class="w-100" type="text">
            </div>
            <div>
                <label  class="w-100 mt-2" for="">PIN Code</label>
                <input  class="w-100" type="text">
            </div>
            <div class="col-12 location text-end">
              <a class="" class="" href=""> use cuttent location</a>
            </div>
        <div class="button">
            <a type="button" class="btn  btn-outline-primary w-100" href="/edit_profile_profe">DONE</a>
        </div>
            
        </form>
    </div>
</div>

<!--  -->
<%- include('footer') -%>