<%- include('header') -%>
<!--  -->
<div class="container-fluid  f_password">
    <div class="row">
        <div class="ps-4 py-5 text-center">
            <h6 class="mb-0 text_color"> Yo! Forgot Your Password</h6>
            <p class="f11 c1">No worries! Enter your email and we will send you a reset </p>
          </div>
     <div class="f_pass py-4 mx-auto">
          <div class="">
        <div class="ms-5 ps-4 ">
            <div class="text-end ps-5  w-50">
                <!-- <i class="fa-solid fa-question fa-2xl"></i> -->
              </div>
        </div>
          <div class="text-center mt-3">
            <img class="w-25 img-fluid" src="/static/images/key3.png" alt="">
          </div>
           
          </div>
      <div class="pt-3">
        <form action="" method="post">
            <div class="ps-5 ms-4">
             <div class="mb-1 mt-2 border border-dark i1 w-75  ">
                 <!-- <label for="">Email</label> -->
                <span class="input_font">
                 <i class="fa-solid fa-envelope ms-2"></i>
                 <input class="w-75" type="email" placeholder=" Email Address">
                </span>
               </div>
            </div>
 
               <div class="ps-5  ms-4">
                 <a type="button"  class="btn  w-75 mt-3" href="">Send Request</a>
               </div>
         </form>
      </div>

     </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center px-0 m-0 relative ">
        
             <div class="copy_right absolute py-1"> 
                 <p>copyright 2023</p>
             </div>
          
           
          </div>
    </div>
</div>


<!--  -->
<%- include('footer') -%>