<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-3  editprofile ">
          <a href="/user_profile"><i class="fa-solid fa-arrow-left ms-1  px-0 mx-0 f19"></i></a>
        </div>
        <div class="col-5  text-end saveprofile  text-white">
            <p class="fw-bold">Folowers</p>
        </div>
        
    </div>
</div>

<div class="container-fluid mx-0  px-0 mt-5 pt-5">
    <!-- <div class=" d-flex justify-content-start mt-0 backgroundColor text-light  py-2 boxshadow  w-100  mx-0 px-0  ">
    <div><i class="fa-solid fa-arrow-left ms-2  px-0 mx-0 font15"></i></div>
    <div><p class="font15 text-capitalize ms-3 mb-0 mx-0 px-0">Followers</p></div>
    </div> -->

<div class="d-flex justify-content-center align-items-center flex-column mt-5 pt-5">
    <div><img src="./images/profile2.png" alt="" height="70px" width="70px" class="rounded-circle img-fluid" srcset=""></div>
    <div><p class="f22 fw-bold ">Sorry, no results found</p></div>
</div>



</div>





<!--  -->
<%- include('footer') -%>