
<%- include('header') -%>
<div class="container-fluid footer_home text-center">
    <div class="row text-center  justify-content-center p-0">
        <div class="col-3  text-center mt-1">
            <i class="fa-solid fa-house"></i>
            <!-- <img class="img-fluid" src="/static/images/home.png" alt=""> -->
            <div class="text-center f9">
                <a href="/home">Home</a>
                
            </div>
         
        </div>
        <div class="col-3 text-center mt-1">
            <i class="fa-solid fa-bell"></i>
            <!-- <img class="img-fluid" src="/static/images/notification.png" alt=""> -->
            <div class="f9">
                <a href="/notification"> Notifactions</a>
               
            </div>
        </div>
        <div class="col-3 text-center mt-1">
            <i class="fa-brands fa-gratipay"></i>
            <!-- <img class="img-fluid" src="/static/images/ideabook.png" alt=""> -->
            <div class="f9">
                <a href="/ideabook"> Ideabooks</a>
               
            </div>
        </div>
        <div class="col-3 text-center mt-1">
            <i class="fa-solid fa-user"></i>
            <!-- <img class="img-fluid" src="/static/images/profile2.png" alt=""> -->
            <div class="f9">
                <a href="/user_profile"> Profile</a>
               
            </div>
        </div>
    </div>
</div>