<%- include('header') -%>
  <!-- header -->

  <div class="container-fluid header sticky-top mx-0">
    <div class="row justify-content-between">
      <div class="col-4 py-1 editprofile">
        <a href="">Home</a>
      </div>
      <div class="col-6 py-2 text-end  justify-content-center">
        <div class="search-box">
          <input class="search-txt" type="text" name="" placeholder="Type to search">
          <a href="#" class="search-btn">
            <i class="fas fa-search "></i>
          </a>
        </div>
        <!-- <i class="fa-solid text-white fa-magnifying-glass"></i> -->

      </div>
    </div>
  </div>


  <div class="container-fluid py-2 home">
    <div class="row text-center  ">
      <div class="col-3  py-2 d-flex justify-content-center">
        <!-- <a href="idea_page">
          <img class="img-fluid" src="static/images/idea.png" alt="">
          <p>IDEAS</p>
        </a> -->
        
          <!-- <div class="shadow rounded-5">
           <a href="/idea_page">
            <img class="img-fluid" src="static/images/idea.png" alt="">
            <p class="mb-0">IDEAS</p>
           </a>
          </div> -->
          <a href="/idea_page_main">
           <div class="text_icon ">
            <!-- <img class="img-fluid " src="static/images/idea.png" alt=""> -->
            <i class="fa-solid fa-lightbulb fa-xl text-white"></i>
           </div>
            <div class="mt-1 ">
              <p class="mb-0 fw-bold">IDEAS</p>
            </div>
          </a>
         
        
      </div>
      <div class="col-3 py-2  d-flex justify-content-center">
       <!-- <div class="shadow rounded-5">
        <a href="">
          
          <p class="mb-0">PROS</p>
        </a>
       </div> -->
       <a href="/pro_page">
        <div class="text_icon">
          <i class="fa-solid fa-users fa-lg text-white"></i>
        </div>
        <!-- <img class="img-fluid" src="static/images/pros.png" alt=""> -->
        
        <div class=" mt-1">
          <p class="mb-0 fw-bold">PROS</p>
        </div>
       </a>

      </div>
      <div class="col-3 py-2  d-flex justify-content-center">
        <!-- <div class="shadow rounded-5">
          <a href="">
            <img class="img-fluid" src="static/images/sto.png" alt="">
            <p class="mb-0">STORIES</p>
          </a>
        </div> -->
        <a href="/stories">
          <!-- <img class="img-fluid" src="static/images/sto.png" alt=""> -->
         <div class="text_icon">
          <i class="fa-solid fa-book-open fa-lg text-white"></i>
         </div>
          <div class=" mt-1">
            <p class="mb-0 fw-bold">STORIES</p>
          </div>
        </a>
        

      </div>
      <div class="col-3  py-2  d-flex justify-content-center">
       <!-- <div class="shadow border rounded-pill">
        <a href="discussion">
          <img class="img-fluid" src="static/images/discuu.png" alt="">
          <p class="mb-0">DISCUSSIONS</p>
        </a>
       </div> -->
       <a href="/discussion">
        <!-- <img class="img-fluid" src="static/images/discuu.png" alt=""> -->
        <!-- <i class="fa-solid fa-users-between-lines fa-lg text_color2"></i> -->
        
       <div class="text_icon ms-1">
        <i class="fa-solid fa-file-lines fa-lg text-white"></i>
       </div>
        <div class="mt-1">
          <p class="mb-0 fw-bold">DISCUSSIONS</p>
        </div>
       </a>
        <!-- <img class="img-fluid" src="static/images/discuu.png" alt="">
            <p>DISCUSSIONS</p> -->
      </div>
    </div>
  </div>
  
  <!--  -->

  <!--  -->
  <div class="container-fluid  border-top home2 px-0">
    <div class="row px-0 mx-0 py-0">
      <div class="col-6 pt-2">
        <p class="mb-0 fw-bold f13">Find Professional</p>
      </div>
      <div class="col-6 pt-2 ">
        <p class="text-end mb-0 text_color2 fw-bold f12 ">SEE ALL</p>
      </div>

      <!-- card carousel start -->
      <div class=" mt-0 m-0 p-0 ">
        <div class="row  p-0 m-0">
          
          <div class="home-demo px-0">
           
            <div class="owl-carousel owl-theme " >
             <div class="p-2">
              <div class="item border shadow2 rounded ">
                <img src="static/images/newb2.jpg" class="d-block img-fluid rounded-top" style="height: 80px;" alt="...">
                <p class="py-2 mb-0"> Baby Shower Deco</p>
              </div>
             </div>

            <div class="p-2">
              <div class="item border shadow2 rounded" >
                
                <img src="static/images/newh1.jpg" class="d-block img-fluid rounded-top" style="height: 80px;" alt="...">
                <p class="py-2 mb-0">Birthday Deco</p>
              </div>
            </div>

             <div class="p-2">
              <div class="item border shadow2 rounded">
               
                <img src="static/images/newh2.jpg" class="d-block img-fluid rounded-top" style="height: 80px;"  alt="...">
                <p class="py-2 mb-0">Events</p>
              </div>
             </div>
              <div class="p-2">
                <div class="item border shadow2 rounded">
               
                  <img src="static/images/newb2.jpg" class="d-block img-fluid rounded-top" style="height: 80px;"  alt="...">
                  <p class="py-2 mb-0">Baby Shower Deco</p>
                </div>
              </div>
             <div class="p-2">
              <div class="item border shadow2 rounded">
              
                <img src="static/images/newh1.jpg" class="d-block img-fluid rounded-top" style="height: 80px;" alt="...">
                <p class="py-2 mb-0">Events</p>
              </div>
             </div>
            <div class="p-2">
              <div class="item border shadow2 rounded">
               
                <img src="static/images/newh2.jpg" class="d-block img-fluid rounded-top" style="height: 80px;" alt="...">
                <p class="py-2 mb-0">Events</p>
             </div>
            </div>
             
            </div>
          </div>
        
        </div>
       </div>

      <!-- card carousel end -->

     

    </div>
  </div>
  <!-- main start -->
  <div class="containe-fluid mb-5 p-0 trending mx-0 pb-2">
    <div class="row main mx-0">
      <p class="fw-bold f13 mb-0">Trending 5 Star Hotels</p>

      <div class="">
        <div class="shadow3 p-0   mt-2 rounded-bottom-3 pb-2 ">
          <div class="col-12 position-relative">
           <div class="like_home_1">
            <div class="like_home"> 
              <i class="fa-regular fa-heart  like-button"></i>
            </div>
           </div>
             
            <img class="img-fluid w-100  rounded-top-3" src="/static/images/hall3.jpeg" alt="">
            <p  class="mb-0 py-1 px-3 fw-bold f13">Gold House</p>
            <p class="f10 px-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, temporibus.</p>
          </div>
        </div>
      </div>
    

    <div class="">
      <div class="shadow3 p-0   mt-2 rounded-bottom-3 pb-2">
        <div class="col-12  position-relative">
          <div class="like_home_1">
            <div class="like_home"> 
              <i class="fa-regular fa-heart  like-button"></i>
            </div>
           </div>
          <img class="img-fluid w-100 rounded-top-3" src="/static/images/hall4.jpeg" alt="">
          <p  class="mb-0 py-1 px-3 fw-bold f13">Shree</p>
          <p class="f10 px-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, temporibus.</p>
        </div>
      </div>
    </div>

   <div>
    <div class="shadow3 p-0   mt-2 rounded-bottom-3 pb-2">
      <div class="col-12 position-relative">
        <div class="like_home_1">
          <div class="like_home"> 
            <i class="fa-regular fa-heart  like-button"></i>
          </div>
         </div>
        <img class="img-fluid w-100 rounded-top-3" src="/static/images/hal1.jpeg" alt="">
        <p  class="mb-0 py-1 px-3 fw-bold f13">Grand House</p>
          <p class="f10 px-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, temporibus.</p>
      </div>
     </div>
   </div>

  <div>
    <div class="shadow3 p-0   mt-2 rounded-bottom-3 pb-2">
      <div class="col-12 position-relative">
        <div class="like_home_1">
          <div class="like_home"> 
            <i class="fa-regular fa-heart  like-button"></i>
          </div>
         </div>
        <img class="img-fluid rounded-top-3" src="/static/images/hall2.jpeg" alt="">
        <p  class="mb-0 py-1 px-3 fw-bold f13">Gold House</p>
        <p class="f10 px-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, temporibus.</p>
      </div>
     </div>
  </div>


    </div>
  </div>
  <!-- main end -->
  <!-- home_footer -->
  <%- include('footer_home') -%>
    <!-- footer -->

    <%- include('footer') -%>
 
    <!-- <script>
      $(function() {
  
  var owl = $(".owl-carousel");
  owl.owlCarousel({
    items: 2,
    margin: 10,
    loop: true,
    nav: true
  });
});

    </script> -->
    
    <script>
var owl = $('.owl-carousel');
owl.owlCarousel({
    items:2,
    loop:true,
    margin:0,
    autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true
});
// $('.play').on('click',function(){
//     owl.trigger('play.owl.autoplay',[3000])
// })
// $('.stop').on('click',function(){
//     owl.trigger('stop.owl.autoplay')
// })

    </script>
    <script>
      function toggleColor(button) {
        button.classList.toggle("active");
      }
    
      document.addEventListener("DOMContentLoaded", function () {
        const likeButtons = document.querySelectorAll(".like-button");
    
    
        likeButtons.forEach(button => {
          button.addEventListener("click", function () {
            toggleColor(this);
          });
        });
      });
    </script>
    