<%- include('header') -%>
<!--  -->
<div class="container-fluid header sticky-top mx-0">
    <div class="row justify-content-between">
      <div class="col-6 py-1 editprofile">
        <span>
            <a href="/home"><i class="fa-solid fa-arrow-left pe-2 fa-lg"></i></a>
            <a href="/idea_page_main f15"> Idea Page</a>
        </span>
        <!-- <a href="/home"><i class="fa-solid fa-arrow-left pe-2"></i> Idea Page</a> -->
      </div>
      <div class="col-6 py-2 text-end  justify-content-center">
        <div class="search-box">
          <input class="search-txt" type="text" name="" placeholder="Type to search">
          <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <!-- <i class="fa-solid text-white fa-magnifying-glass"></i> -->

      </div>
    </div>
  </div>

<div class="container-fluid pt-3">
<div class="row">
    <div class="col-6">
       <a href="/idea_page">
        <div class=" d-flex  p-2 back text-white rounded-2 shadow2">
            <i class="fa-regular fa-image fa-sm mt-2  ps-2"></i>
            <p class="f12 ps-2 mb-0">All Photos</p>
        </div>
       </a>
    </div>

    <div class="col-6">
       <a href="/idea_page_3">
        <div class=" d-flex p-2 back text-white rounded-2 shadow2">
            <i class="fa-solid fa-book-open fa-sm mt-2    ps-2"></i>
           
            <p class="f12 ps-2 mb-0">Stories</p>
        </div>
       </a>
    </div>

    <div class="col-6 mt-3">
        <a href="/discussion">
            <div class="  d-flex  p-2 back text-white rounded-2 shadow2">
            
                <i class="fa-solid fa-file-lines fa-sm mt-2   ps-2"></i>
                <p class="f12 ps-2 mb-0">Discussion</p>
            </div>
        </a>
       
    </div>

    <div class="col-6 mt-3">
       <a href="/stories">
        <div class=" d-flex  p-2 back text-white rounded-2 shadow2">
            <i class="fa-solid fa-comment-medical fa-sm mt-2 ps-2"></i>
            <p class="f12 ps-2 mb-0">Latest Advice</p>
        </div>
       </a>
    </div>
</div>
</div>
<!--  -->
<div class="container-fluid p-0 pb-5 mb-2">
    <div class="row  m-0">
        <div class="col-12 mt-3 mb-2">
        <h6 class="text_color fw-bold">Browse Photos by Room </h6>
        </div>

        <!-- <div class="idea_page_main1 d-flex mt-2 mb-2 ">
           <div class="d-flex  rounded shadow2">
            
            <div class="idea_page_main_img ">
                <img class="img-fluid w-100 rounded-start" src="/static/images/i3.jpg" alt="">
            </div>
           <div class="ps-1">
            <p class="mb-1 f13 fw-bold ">Birthday</p>
            <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
           </div>
           </div>
           
            </div> -->

            <!-- <div class="idea_page_main1 d-flex  mt-2 mb-2 ">
                <div class="d-flex  rounded shadow2">
                 
                 <div class="idea_page_main_img ">
                     <img class="img-fluid w-100 rounded-start" src="/static/images/i2.jpg" alt="">
                 </div>
                <div class="ps-1">
                 <p class="mb-1 f13 fw-bold ">Birthday</p>
                 <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                </div>
                
                 </div> -->

                 <!-- <div class="idea_page_main1 d-flex   mt-2 mb-2">
                    <div class="d-flex  rounded shadow2">
                     
                     <div class="idea_page_main_img ">
                         <img class="img-fluid w-100 rounded-start" src="/static/images/i3.jpg" alt="">
                     </div>
                    <div class="ps-1">
                     <p class="mb-1 f13 fw-bold ">Birthday</p>
                     <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    </div>
                    
                     </div> -->

                     <!-- <div class="idea_page_main1 d-flex  mt-2 mb-2 ">
                        <div class="d-flex  rounded shadow2">
                         
                         <div class="idea_page_main_img ">
                             <img class="img-fluid w-100 rounded-start" src="/static/images/i1.jpg" alt="">
                         </div>
                        <div class="ps-1">
                         <p class="mb-1 f13 fw-bold ">Birthday</p>
                         <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        </div>
                        </div>
                        
                         </div> -->
                         <!-- <div class="idea_page_main1 d-flex   mt-2 mb-2">
                            <div class="d-flex  rounded shadow2">
                             
                             <div class="idea_page_main_img ">
                                 <img class="img-fluid w-100 rounded-start" src="/static/images/i3.jpg" alt="">
                             </div>
                            <div class="ps-1">
                             <p class="mb-1 f13 fw-bold ">Birthday</p>
                             <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                            </div>
                            
                             </div> -->

       <div class="col-12 px-2  idea_page_main1 mt-2 mb-3">
       <div class="rounded shadow2">
        <div class="row  m-0 p-0">
            <div class="col-6  px-0">
                <img class="img-fluid w-100 rounded-start" src="/static/images/i2.jpg" alt="">
            </div>
            <div class="col-6 ps-2 pt-1 ">
                <p class="mb-1 f13 fw-bold ">Birthday</p>
                <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
       </div>
       </div>

       <div class="col-12 pX-2 idea_page_main1  mt-2 mb-3">
        <div class="rounded shadow2 ">
         <div class="row  m-0 p-0">
             <div class="col-6 px-0">
                 <img class="img-fluid w-100 rounded-start" src="/static/images/i1.jpg" alt="">
             </div>
             <div class="col-6 ps-2 pt-1 ">
                 <p class="mb-1 f13 fw-bold ">Birthday</p>
                 <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
             </div>
         </div>
        </div>
        </div>

       <div class="col-12 px-2 idea_page_main1  mt-2 mb-3">
        <div class="rounded shadow2 ">
         <div class="row p-0 m-0">
             <div class="col-6 px-0">
                 <img class="img-fluid w-100 rounded-start" src="/static/images/i2.jpg" alt="">
             </div>
             <div class="col-6 ps-2 pt-1">
                 <p class="mb-1 f13 fw-bold ">Birthday</p>
                 <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
             </div>
         </div>
        </div>
        </div>

        <div class="col-12 px-2 idea_page_main1  mt-2 mb-3">
            <div class="rounded shadow2 ">
             <div class="row  m-0 p-0">
                 <div class="col-6  px-0">
                     <img class="img-fluid w-100 rounded-start" src="/static/images/i1.jpg" alt="">
                 </div>
                 <div class="col-6 ps-2 pt-1">
                     <p class="mb-1 f13 fw-bold ">Birthday</p>
                     <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                 </div>
             </div>
            </div>
            </div>

            <div class="col-12 px-2 idea_page_main1  mt-2 mb-3">
                <div class="rounded shadow2 ">
                 <div class="row  m-0 p-0">
                     <div class="col-6  px-0">
                         <img class="img-fluid w-100 rounded-start" src="/static/images/i2.jpg" alt="">
                     </div>
                     <div class="col-6 ps-02pt-1">
                         <p class="mb-1 f13 fw-bold ">Birthday</p>
                         <p class="f12">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                     </div>
                 </div>
                </div>
                </div>

                <!-- <div class="col-12 p-2">
                    <div class="rounded shadow2 idea_page_main1">
                     <div class="row  m-0 p-0">
                         <div class="col-6  mt-2">
                             <img class="img-fluid w-100" src="/static/images/i3.jpg" alt="">
                         </div>
                         <div class="col-6 ps-0 pt-1 ">
                             <p class="mb-1 f13 fw-bold ">Birthday</p>
                             <p class="f12">Lorem ipsum dolor,  amet is consectetur adipisicing elit.</p>
                         </div>
                     </div>
                    </div>
                    </div> -->

        <!-- <div class="col-6 py-2 ">
           <div class="shadow2 rounded">
            <div class="idea_page_main_img ">
                <img class="img-fluid rounded-top" src="/static/images/i3.jpg" alt="">
             </div>
              
             <div class="text-center  py-2 ">
               <p class="f13 fw-bold mb-0">Birthday</p>
             </div>
           </div>
        </div> -->
        <!-- <div class="col-6 py-2 ">
           <div class="shadow2 rounded">
            <div class="idea_page_main_img ">
                <img class="img-fluid rounded-top" src="/static/images/i1.jpg" alt="">
             </div>
              
             <div class="text-center  py-2">
               <p class="f13 fw-bold mb-0">Birthday</p>
             </div>
           </div>
        </div> -->

        <!-- <div class="col-6 py-2 ">
           <div class="shadow2 rounded">
            <div class="idea_page_main_img ">
                <img class="img-fluid rounded-top" src="/static/images/i2.jpg" alt="">
             </div>
              
             <div class="text-center  py-2">
               <p class="f13 fw-bold mb-0">Birthday</p>
             </div>
           </div>
        </div> -->

        <!-- <div class="col-6  py-2 ">
            <div class="shadow2 rounded">
                <div class="idea_page_main_img ">
                    <img class="img-fluid rounded-top" src="/static/images/i3.jpg" alt="">
                 </div>
                  
                 <div class="text-center   py-2">
                   <p class="f13 fw-bold mb-0">Birthday</p>
                 </div>
            </div>
        </div> -->

        <!-- <div class="col-6 py-2">
          <div class="shadow2 rounded">
            <div class="idea_page_main_img ">
                <img class="img-fluid rounded-top" src="/static/images/i3.jpg" alt="">
             </div>
              
             <div class="text-center   py-2">
               <p class="f13 fw-bold mb-0">Birthday</p>
             </div>
          </div>
        </div> -->

        <!-- <div class="col-6 py-2">
           <div class="shadow2 rounded">
            <div class="idea_page_main_img ">
                <img class="img-fluid rounded-top" src="/static/images/i1.jpg" alt="">
             </div>
              
             <div class="text-center   py-2">
               <p class="f13 fw-bold mb-0">Birthday</p>
             </div>
           </div>
        </div> -->



    </div>
</div>
<!--  -->
<%- include('footer_home') -%>
<!--  -->
<%- include('footer') -%>