<%- include('header') -%>
<!-- header -->

<div class="container-fluid header sticky-top mx-0">
    <div class="row justify-content-between ">
 <div class="col-4 py-1 editprofile">
    <a href="/idea_page_main"><i class="fa-solid fa-arrow-left"></i></a>
 </div>
 <div class="col-4 py-2 text-end  ">
  <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Type to search">
    <a href="#" class="search-btn">
      <i class="fas fa-search"></i>
    </a>
  </div>
   <!-- <div class="collapse " id="collapseExample">
      <div class="card card-body bg-black ">
        <input type="search" name="" class="bcolor lol rounded-2 text-light out">
      </div>
    </div> -->
   <!-- <a class="btn py-1" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
    </a> -->
    <!-- <i class="fa-solid text-white fa-magnifying-glass"></i> -->
 </div>
    </div>
</div>

<!--  -->
<div class="container-fluid idea_page mx-0 px-1 ">
    <div class="row py-2 text-danger justify-content-between  mx-auto text-center">
      
        <div class="col-2 border  back text-white rounded">
         <div class="dropdown">
            <div class=" dropdown-toggle py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Filter 1</a></li>
              <li><a class="dropdown-item" href="#">filter 2</a></li>
              <li><a class="dropdown-item" href="#">filter 3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-2   back text-white rounded">
            
         <div class="dropdown">
            <div class=" dropdown-toggle  py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Room
            </div>
            <ul class="dropdown-menu border border-primary">
              <li><a class="dropdown-item" href="#">room 1</a></li>
              <li><a class="dropdown-item" href="#">room 2</a></li>
              <li><a class="dropdown-item" href="#">room 3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-2   back text-white rounded">
            
         <div class="dropdown">
            <div class=" dropdown-toggle py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Style
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">style 1</a></li>
              <li><a class="dropdown-item" href="#">style 2</a></li>
              <li><a class="dropdown-item" href="#">Style 3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-3   back text-white rounded">
            
         <div class="dropdown">
            <div class=" dropdown-toggle text-strat  py-1 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Metro Area
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">area 1</a></li>
              <li><a class="dropdown-item" href="#">Area  2</a></li>
              <li><a class="dropdown-item" href="#">area 3</a></li>
            </ul>
          </div>
        </div>
        <div class="col-2  back text-white rounded">
            
         <div class="dropdown">
            <div class=" dropdown-toggle  py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">sort 1</a></li>
              <li><a class="dropdown-item" href="#">sort 2</a></li>
              <li><a class="dropdown-item" href="#">Sort 3</a></li>
            </ul>
          </div>
        </div>
       
    </div>
</div>
<!-- images start -->
<div class="container-fluid border border-top idea_page mb-5 p-0">
   <div class="row m-0 p-0 py-2">
      <h6>All Photos ( 45 4646 )</h6>
     
      <div class="col-6 images  m-0 p-0 border border-primary  position-relative ">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i3.jpg" alt="">
      </div>
      <div class="col-6 images  m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i1.jpg" alt="">
      </div>
      <div class="col-6 images  m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i2.jpg" alt="">
      </div>
      <div class="col-6  m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i5.jpg" alt="">
      </div> 
      <div class="col-6  m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i1.jpg" alt="">
      </div>
      <div class="col-6 m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i3.jpg" alt="">
      </div>
      <div class="col-6  m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i1.jpg" alt="">
      </div>
      <div class="col-6 images m-0 p-0 border border-primary  position-relative">
        <div class="like">
          <i class="fa-solid fa-heart  like-button fs-5 "></i></div>
         <img class=" img-fluid" src="/static/images/i2.jpg" alt="">
      </div>
   </div>
</div>



<!--  -->

<!-- <div class="col-md-3 p-2 position-relative">
  <div class="like">
    <i class="fa-solid fa-heart  like-button fs-5 "></i></div>

    <div class="card bg-transparent border border-0">
      <div class="card-img">

        <img src="/static/images/i2.jpg"
          class="img-fluid zoom">
      </div>
      <div class="p-0 card-body py-3">
        <div class="fs-5   my_font-josefin_slab fw-bolder">
fhwjafbwjaf        </div>
        <div class="fw-light f12">
          fwfaw
        </div>
        <div class="my_font-josefin_slab f18">
fwfafwf        </div>

      </div>
    </div>
</div> -->


<!-- home_footer -->
<%- include('footer_home') -%>
<%- include('footer') -%>

<script>
  function toggleColor(button) {
    button.classList.toggle("active");
  }

  document.addEventListener("DOMContentLoaded", function () {
    const likeButtons = document.querySelectorAll(".like-button");


    likeButtons.forEach(button => {
      button.addEventListener("click", function () {
        toggleColor(this);
      });
    });
  });
</script>