<%- include('header') -%>
<!--  -->
<div class="container-fluid login p-0 m-0 py-0" style="overflow-y: hidden;">
<div class="row m-0 p-0">
    <div class="text-center mt-5">
        <h6 class="mb-0">Login / Signup</h6>
        <p class="f12 c1">Please enter the credentials below</p>
       </div >

    <!-- <div class="login_img py-0 ">
      
    </div> -->

<!-- <div class=""> -->
    <div>
    <div class=" login_div p-3">
      
        <form action="" method="post">
            <p class="mb-0">Email</p>
          <div class="mb-1 mt-2 border border-dark i1">
            <!-- <label for="">Email</label> -->
           <span class="input_font">
            <i class="fa-solid fa-envelope ms-2"></i>
            <input class="w-75" type="email" placeholder=" Email Address">
           </span>
          </div>
          <p class="mb-0">Password</p>
          <div class="mb-0 mt-2  i1 border border-dark">
            <!-- <label for="">Password</label> -->
            <span class="input_font">
                <i class="fa-solid fa-lock ms-2"></i>
            <input type="password" class="w-75 " id="myInput"  placeholder=" *********">
            <i  onclick="myFunction()" class="fa-regular fa-eye fa-xs"></i>
            </span>
          </div>
          <!-- <div class="row">
            <div class="col-6">
                <div class="d-flex">

                    <div><input type="checkbox" class="me-3"></div> <div class="pt-2">Terms and Condition</div>
                   </div>
            </div>

            <div class="col-6">
                <div class="d-flex">

                   <div class="text-end">
                    <div><input type="checkbox" class="me-3"></div> <div class="pt-2">Terms and Condition</div>
                   </div>
                   </div>
            </div>

          </div> -->

          <div class="row mt-0 px-0"> 
            <div class="col-5 text-start px-1">
                <div class="mb-1 mt-1">
                    <!-- <label for="">Email</label> -->
                   <span class="">
                    <div class="d-flex ">

                        <div class=""><input type="checkbox" class=" ms-1 me-1 mt-1"></div><div class="pt-3 f11">Terms & Condition</div>
                       </div>
                   </span>
                  </div>
            </div>
            <div class="col-7 px-2 ">
                <div class="mb-1 mt-2 py-2 px-1">
                   <span >
                    <p class="f11 mt-1"> Forgot password?<a class="text-primary " href="/f_password"> Click Here</a></p>
                   </span>
                  </div>
            </div>
    
        </div>

          <!-- <div class="d-flex">

           <div><input type="checkbox" class="me-3"></div> <div class="pt-2 f12">Terms and Condition</div>
          </div> -->


          <!-- <div class="text-center f12">
            <p>Forgot password?<a class="text-primary" href="">Click Here</a></p>
          </div> -->
          <div>
            <a type="button"  class="btn  w-100" href="">Login</a>
          </div>
          <!-- <div>
            <p>Signin</p>
          </div> -->
        </form>
    </div>
</div>
    
</div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center px-0 m-0 relative ">
        
             <div class="copy_right absolute py-1"> 
                 <p>copyright 2023</p>
             </div>
          
           
          </div>
    </div>
</div>



<!--  -->
<%- include('footer') -%>

  <script>
function myFunction() {
  let x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
