<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-6  notification mt-1 ">
         <div class="d-flex">
            <a href="/notification">NOTIFICATIONS</a>
            <input class="ms-3" type="radio">
         </div>
         
        </div>
        <div class="col-4  text-end notification  ">
          <!-- <a href="">Save</a> -->
          <a href="/messages">MESSAGES</a>
        </div>
        
    </div>
</div>

<div class="container-fluid mt-1 notification">
   
    <div class="row">
     <div class="col-12 border border-dark">
        <div class="row ">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>
     <div class="col-12  border border-dark">
        <div class="row">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>
     <div class="col-12 border border-dark">
        <div class="row">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>
     <div class="col-12 border border-dark">
        <div class="row ">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>
     <div class="col-12 border border-dark">
        <div class="row ">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>
     <div class="col-12 border border-dark">
        <div class="row ">
            <div class="col-4 ">
               <div class="py-2">
                <img class="img-fluid" src="/static/images/profile2.png" alt="">
               </div>
            </div>
            <div class="col-8  "></div>
        </div>
     </div>

    </div>
</div>
<!--  -->
<%- include('footer_home') -%>
<%- include('footer') -%>