<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header2">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-5  editprofile ">
          <a href="/pro_page"><i class="fa-solid fa-xmark fa-lg ps-2"></i></a>

        </div>
        <div class="col-4  text-end saveprofile">
          <!-- <a href="">Save</a> -->
        </div>
        
    </div>
</div>
<!--  -->
<div class="container-fluid project_location page_height back3">
    <div class="row ">
        <div class="col-8">
            <h6 class="text-white f13">Project location</h6>
        </div>
        <div class="col-4 text-end">
          <h6 class="mb-0 text-white f13">  1 of 9</h6>
        </div>
        <p class="text-white f18 fw-bold">Please confirm your project PIN code</p>
        <form action="" method="post">
            <div class="">
                <label class="text-white" for="">PIN code*</label>
                <input class="w-100 back3 text-white " type="text" placeholder="">
            </div>
        </form>
        <div class=" mb-5 p_b p-0 m-0 ">    
            <div class="progress progress-striped back3">
              <div class="progress-bar">
              </div>                       
            </div> 
          </div>
    </div>
</div>



<div class="container-fluid footer_home2 px-0 text-center">
   
     <!-- <div class="project_location_1"></div> -->
    <!-- <div class="project_location_1 border border-danger"> 
        <div class="projetc_bar" id="projectbar"></div>
    </div> -->
    <div class="row text-center mx-0 justify-content-center ">
        
        <div class="col-6  text-center mt-1 py-1">
           <a href="/help"><button class="btn btn-outline-light w-100 btn-sm">PREV</button></a>
         
        </div>
       
       
        <div class="col-6 text-center mt-1 py-1">
            <a href="/project_details_1"><button class="btn btn-light w-100 btn-sm"  id="nextpage">NEXT</button></a>
        </div>
    </div>
</div>
<!--  -->
<%- include('footer') -%>
