<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header2">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-5  editprofile ">
          <a href="/pro_page"><i class="fa-solid fa-xmark fa-lg"></i></a>

        </div>
        <div class="col-4  text-end saveprofile">
          <!-- <a href="">Save</a> -->
        </div>
        
    </div>
</div>
<!--  -->
<div class="container-fluid  project_location page_height back3">
    <div class="row">
        <div class="col-8 text-white ">
            <h6 class="f13">Project Details</h6>
        </div>
        <div class="col-4 text-end  text-white">
          <h6 class="mb-0 f13">  5 of 9</h6>
        </div>
        <p class="text-white f18 fw-bold">What type of event is this? </p>
        <form action="" method="post">
            <div class="text-white">
                <div>
                    <input class=""  type="checkbox" placeholder="">
                    <label class="ms-1" for="">Birthday party </label>
                
                </div>
              
               <div>
                <input type="checkbox">
                <label class="ms-1" for="">Anniversary</label>
               </div>
               <div>
                <input type="checkbox">
                <label class="ms-1" for="">Baby shower</label>
               </div>
               <div>
                <input type="checkbox">
                <label class="ms-1" for="">Retirement party </label>
               </div>
               <div>
                <input type="checkbox">
                <label class="ms-1" for=""> Wedding related</label>
               </div>
               <div>
                <input type="checkbox">
                <label class="ms-1" for="">Other</label>
               </div>
            </div>
        </form>
        <div class=" mb-5 p_b p-0 m-0">    
            <div class="progress5 progress-striped5 back3">
              <div class="progress-bar">
              </div>                       
            </div> 
          </div>
    </div>
</div>



<div class="container-fluid footer_home2 px-0 text-center">
    <!-- <div class="project_location_5"></div> -->
    <div class="row text-center mx-0 justify-content-center ">
        <div class="col-6  text-center mt-1 py-1">
           <a href="/project_details_3"><button class="btn btn-outline-light w-100 btn-sm">PREV</button></a>
         
        </div>
       
       
        <div class="col-6 text-center mt-1 py-1">
            <a href="/project_details_5"><button class="btn btn-light w-100 btn-sm">NEXT</button></a>
        </div>
    </div>
</div>
<!--  -->
<%- include('footer') -%>

