<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header2">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-5  editprofile ">
          <a href="/pro_page"><i class="fa-solid fa-xmark fa-lg"></i></a>

        </div>
        <div class="col-4  text-end saveprofile">
          <!-- <a href="">Save</a> -->
        </div>
        
    </div>
</div>
<!--  -->
<div class="container-fluid  project_location  page_height back3">
    <div class="row ">
        <div class="col-8 text-white">
            <h6 class="f13">Contact Details</h6>
        </div>
        <div class="col-4 text-end text-white">
          <h6 class="mb-0 f13">  8 of 9</h6>
        </div>
        <p class="text-white f18 fw-bold">Tell us your name </p>
        <form action="" method="post">
            <div class="text-white">
                <div>                  
                    <label class="" for="">Name</label>
                    <input class="w-100 back3 text-white" type="text">               
                </div>
                <div>
                    <p class="f18 fw-bold">Enter your preferred email address </p>
                </div>
                <div> 
                                 
                    <label class="" for="">Email</label>
                    <input class="w-100 back3 text-white" type="email">               
                </div>
              
              
               
               
            </div>
        </form>
        <div class=" mb-5 p_b p-0 m-0">    
            <div class="progress8 progress-striped8 back3">
              <div class="progress-bar">
              </div>                       
            </div> 
          </div>
    </div>
</div>



<div class="container-fluid footer_home2 px-0 text-center ">
    <!-- <div class="project_location_8"></div> -->
    <div class="row text-center mx-0 justify-content-center ">
        <div class="col-6  text-center mt-1 py-1">
           <a href="/project_details_6"><button class="btn btn-outline-light w-100 btn-sm">PREV</button></a>
         
        </div>
       
       
        <div class="col-6 text-center mt-1 py-1">
            <a href="/contact_details_2"><button class="btn btn-light w-100 btn-sm">NEXT</button></a>
        </div>
    </div>
</div>
<!--  -->
<%- include('footer') -%>

