<%- include('header') -%>
<!--  -->

<style>
    .topimg{
        position: relative;
        width:100%;
        height: 15vh;
        background-image: url("/static/images/Business_Intelligence_746x419.jpg");
        background-position: center;
        background-size: cover;
    }
    .topimg img{
     position: absolute;
     top: 50%;
    }
</style>
<div class="container-fluid sticky-top header">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-3  editprofile ">
          <a href="/user_profile"><i class="fa-solid fa-arrow-left ms-1  px-0 mx-0 f19"></i></a>
        </div>
        <div class="col-5  text-end saveprofile  text-white">
            <p class="fw-bold">Public Profile</p>
        </div>
        
    </div>
</div>

<div class="container-fluid mx-0 px-0">
        <!-- <div class=" d-flex justify-content-start mt-0 topic text-light  py-2 boxshadow  w-100  mx-0 px-0  ">
            <div class="ms-2"><i class="fa-solid fa-arrow-left ms-2  px-0 mx-0 font16"></i></div>
         </div> -->

         <div class="row mx-0">
        <div class="col topimg">
            <div class="d-flex justify-content-center"><img src="/static/images/icon2.jpeg" alt="" srcset="" height="100px" width="100px" class="img-fluid rounded-circle"></div>
        </div>


<div class="text-uppercase text-center pt-5">
    <p class="m-2">name</p>
</div>


        <div class="row mt-2 mx-0">
            
                <div class="col-6 justify-content-center">
                    <div class="text-center">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div>
                        <p class="text-center">Save</p>
                    </div>
                </div>

                <div class="col-6  justify-content-center">
                    
                    <div class="text-center">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    </div>
                    <div>
                <p class="text-center">share</p>
            </div>
          </div>
        </div>

<div>
    <p class="text-start text-capitalize f16 ">service provided:</p>
    <a href="#" class="text-decoration-none text-uppercase pb-0 font14 ">Read more</a>
</div>

<div class="mt-2">
    <p class="mb-0  pb-0 f15">contact</p>
    <p class="pt-0 pb-0 f13">Kumud Ranjan</p>
</div>

<div>
    <p class="font15 mb-0 pb-0">Phone Number</p>
    <p class="f13">07808322766</p>
</div>

<div>
    <p class="text-capitalize f16">location</p>
</div>

<div>
    <p class="mb-0 f15">category</p>
    <p class="mt-0 f13">Wardrobe Designers & professional Organisers</p>
</div>


<div class="back3 p-3">

    <p class="text-center text-light f16">
        Help others and be the first to leave the Reviews
    </p>
</div>


<div class="d-flex justify-content-start mt-1">
    <p class="f16 text-center" ><i class="fa-regular fa-file"></i></p>
    <p class="font15 ms-2">Ideabooks</p>
</div>
<div class="d-flex justify-content-start mt-1">
    <p class="f15 text-center" ><i class="fa-solid fa-comment-dots"></i></p>
    <p class="f15 ms-2">Posts</p>
</div>
<div class="d-flex justify-content-start mt-1">
    <p class="f15 text-center" ><i class="fa-solid fa-square-poll-vertical"></i></p>
    <p class="f15 ms-2">Activities</p>
</div>
<div class="d-flex justify-content-start mt-1">
    <p class="f15 text-center" ><i class="fa-solid fa-users"></i></p>
    <p class="f15 ms-2">Followers</p>
</div>
<div class="d-flex justify-content-start mt-1">
    <p class="f15 text-center"><i class="fa-solid fa-users-viewfinder"></i></p>
    <p class="f15 ms-2">Following</p>
</div>

    </div>
</div>
<!--  -->
<%- include('footer') -%>
