<%- include('header') -%>
<!--  -->
<div class="contaier-fluid py-5  page_height back3" style="height: 100vh;">
    <div class="row   px-2 justify-content-center " style="margin-top: 30vh;">
      <div class="text-center text-white">
        <h6 >Sit back while  we find you matching requirement pros in 110014………</h6>
      </div>
    </div>
    <div class="row  justify-content-center text-center mx-auto props mt-2">
        <div class="col-4">
            <!-- <i class="fa-regular fa-circle-check text-success "></i> -->
            <i class="fa-solid fa-check-to-slot fa-2xl text-success"></i>
           <div class="f12 text-white mt-2">
            Location
           </div>
          </div>
          <div class="col-4">
            <!-- <i class="fa-regular fa-circle-check text-success "></i> -->
            <i class="fa-solid fa-check-to-slot fa-2xl text-success"></i>
            <dir class="f12 text-white mt-2">
                Servie provided
            </dir>
          </div>
          <div class="col-4">
            <!-- <i class="fa-regular fa-circle-check text-success "></i> -->
            <i class="fa-solid fa-check-to-slot fa-2xl text-success"></i>
            <div class="f12 text-white mt-2">
                project fit
            </div>
          </div>
    </div>
</div>

<!--  -->
<%- include('footer') -%>