<%- include('header') -%>
<!-- header -->
<div class="container-fluid header sticky-top">
    <div class="row editprofile">
        <div class="col-4 py-1">
            <a href="/user_profile"><i class="fa-solid fa-arrow-left pe-2"></i> Setting</a>
        </div>
    </div>
</div>
<div class="container-fluid p-3 mx-0 setting  text_style">
   
    <div class="row">
        <h6>PRIVACY</h6>
        <p>Privacy (Device)</p>

        <p>Privacy (User)</p>

        <p>Password</p>
        <hr>
    </div>
    
    <div class="row">
        <h6>NOTIFICATION</h6>
        <div class="line"> 
            <p class="mb-0 ">Newsletters</p>
            <label class="" for="">CONNECT-1 Magazine </label>
            <input class="" type="checkbox">
        </div>
        
        <div class="pt-3 line">
         <p class="mb-0 "> Personalised</p>
            <label class="" for="">Recommendations, Activity, Updates Near Me</label>
            <input class="" type="checkbox">
        </div>
        <div class="mt-3">
           <p class="text-secondary">Notification setting will only be applied for this device and not your account.</p>
        </div>
        <hr>
    
        <h6 class="mb-0">EMIAL</h6>
        <p>Email Preference</p>

        <h6 class="mb-0">MICS</h6>
        <p>Country</p>

        <p>Clear Search History</p>
        <p>Reset Cache</p>
        <hr>
        <h6 class="mb-0">ABOUT</h6>
        <p class="mt-0">Rate Us</p>
        <p>©2023 CONNECT.com</p>
        <p>Terms of Use</p>
        <p>Privacy & Notion</p>
        <p>Cookie Policy</p>
        <p>Download My Data</p>
        <p>Open Source Licenses</p>
        <p>About App</p>
        <p>Version******</p>
        <hr>
        <h6>ACCOUNT</h6>
        <p>Delete Account A</p>
    </div>
   
</div>

<!-- footer -->
<%- include('footer') -%>