<%- include('header') -%>
<!--  -->
<div class="container-fluid sticky-top header">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-9  editprofile ">
          <a href="/user_profile"><i class="fa-solid fa-arrow-left ms-2  px-0 mx-0 font15"></i></a>
          <!-- <p>History</p> -->

        </div>
        <!-- <div class="col-5  text-end saveprofile">
         
        </div> -->
        
    </div>
</div>

<div class="container-fluid mx-0  px-0">
    <!-- <div class=" d-flex justify-content-start mt-0 back2 text-light  py-2 boxshadow  w-100  mx-0 px-0  ">
    <div><i class="fa-solid fa-arrow-left ms-2  px-0 mx-0 font15"></i></div>
    <div><p class="font15 text-capitalize ms-3 mb-0 mx-0 px-0">History</p></div>
    </div> -->

<div>
    <div class="backimg2">
       <p class="padding text-light fw-bold f20 text-center">How can we help you?</p>

<div class="row mx-0 px-0">
    <div class="col-12 support">
        <div class="row border mx-0 px-0">
            <div class="col-9">
                <input type="search" placeholder="search the help center"  name="" id="">
            </div>
            <div class="col-3 text-center"><i class="fa-solid fa-magnifying-glass  font20 text-dark mt-1"></i>
            </div>
        </div>
    </div>
</div>

       
    </div>
</div>

<div class="row mt-2 mx-0 px-0">
    <div class="d-flex justify-content-around">
    <div class="col-6 px-1">
        <div>
        <div class="card text-bg-dark opacity-100">
            <img src="/static/images/customer.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <!-- <h5 class="card-title">Customer</h5> -->
              <p class="card-text f12 mt-4 ms-4 fw-bold">CUSTOMER</p>
            </div>
          </div>
        </div>
    </div>


<div class="col-6 px-1">
    <div class="card text-bg-dark">
        <img src="/static/images/merchants.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Merchants</h5> -->
          <p class="card-text text-center f12 mt-4 fw-bold">MERCHANTS</p>
        </div>
      </div>
    </div>
</div>

</div>




<div class="row mt-2 mx-0 px-0">
    <div class="d-flex justify-content-around">
    <div class="col-6 px-1">
        <div>
        <div class="card text-bg-dark">
            <img src="/static/images/professional.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <!-- <h5 class="card-title">professional</h5> -->
              <p class="card-text text-center f12 mt-4 fw-bold">PROFESSIONAL</p>
            </div>
          </div>
        </div>
    </div>


<div class="col-6 px-1">
    <div class="card text-bg-dark">
        <img src="/static/images/account.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text text-center f12 mt-4 fw-bold">ACCOUNT & PRIVACY HELP</p>
        </div>
      </div>
    </div>
</div>

</div>

<div class="row mt-2 mx-0 px-0">
    <div class="d-flex justify-content-around">
    <div class="col-6 px-1">
        <div>
        <div class="card text-bg-dark">
            <img src="/static/images/website.jpeg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text text-center f12 mt-4 fw-bold">WEBSITE HELP</p>
            </div>
          </div>
        </div>
    </div>


<div class="col-6 px-1">
    <div class="card text-bg-dark">
        <img src="/static/images/mobile.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text text-center f12 mt-4 fw-bold">MOBILE HELP</p>
        </div>
      </div>
    </div>
</div>

</div>

<div class="mx-0 px-0 mt-5">
    <div class="row mx-0 px-0">
        <div class="col-12">
    
    <h2 class="f13">Featured Articles</h2>
    <p class="f11 px-0 mx-0">Where can I find my tracking information?</p>
    <hr>
    <p class="f11 px-0 px-0">How can I initiate a return?</p>
    <hr>
    <p class="f11 px-0 mx-0">How can I cancel my order?</p>
    <hr>
    <p class="px-0 mx-0 f11">What if my item arrived damaged or defective?</p>
    <hr>
    <p class="px-0 mx-0 f11">What is Hozze's return policy?</p>
    <hr>
<h2 class="f13">Customer</h2>
<p class="px-0 mx-0 f11">Does Houzz offer freee shipping?</p>
<hr>
<p class="px-0 mx-0 f11">Does Houzz offer international shipping?</p>
<hr>
<p class="px-0 mx-0 f11">Are there any Houzz Promotions or codes av...
</p>
<hr>
<p class="px-0 mx-0 f11">Does Houzz have a brick and mortar store?</p>
<hr>
<p class=" px-0 mx-0 f11">Where can I find my tracking information?</p>
<hr>
<p class="px-0 mx-0 f10">see more</p>
<h2 class=" f13">professionals</h2>
<p class=" px-0 mx-0 f11">What is the houzz Trade Programme ?</p>
<hr>
<p class="px-0 mx-0 f11">How to Get Reviews on Your Houzz profile</p>
<hr>
<p class="px-0 mx-0 f11">What are some guidelines for good photo key...</p>
<hr>
<p class="px-0 mx-0 f11">How do see and answer user questions?</p>
<hr>
<p class="px-0 mx-0 f11">What are pro to pro discussions?</p>
<hr>
<p class="f10 px-0 mx-0">see more > </p>
<h2 class="f13 fw-bold">Get in Touch</h2>
<p class="f11 px-0 mx-0">contact Us</p>
<p class="f12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, ab?</p>

<hr>
</div>
</div>
</div>


 <!-- <div>

    <div class="border border-bottom-dark"></div>
<div class="row mx-0 px-0">
    <div class="d-flex justify-content-start">
    <div class="col-6 font15">ABOUT&nbsp; &nbsp; &nbsp; |</div>
    <div class="col-6">
        <p class="px-0 mx-0 mb-0 pb-0 font12">Terms & Privacy </p>
        <p class="px-0 mx-0 font12">Houzz inc.&copy; 2023</p>
    </div>
    </div>
</div>
 </div> -->

<div class="row p-0 m-0">
    <div class="col-5 text-end">
       <div class="py-2">
        <p class="f10 mb-0">ABOUT</p>
       </div>
    </div>
    <div class="col-1">
        <p>|</p>
    </div>
    <div class="col-6 text-start">
        <p class="f10 mb-0">Terms & Privacy <br>Conntect <sup>one</sup> 2023</p>
    </div>
</div>

</div>









<!--  -->
<%- include('footer') -%>