  <%- include('header') -%>
  <!--  -->


      <div class="container-fluid user_profile">
          <!--  -->
          <div class="row ">

    <div class=" p-0 " style="position: relative;">

      <div class="p-0 m-0 user_bg ">
        <!-- <div class="d-flex" style="align-items: end; justify-content: end;">
          <div class="  text-white   me-2" style="  border-radius: 50%;width: 35px; height: 35px; background-color: #2856b0;" >
              <i class="fa-regular fa-pen-to-square fa-lg ps-2 pt-2"></i>
              
          </div >
          <div class="  text-white  me-2" style="  border-radius: 50%;width: 35px; height: 35px; background-color: #2856b0;" >
              <i class="fa-solid fa-gear text-white pt-2 ps-2 p-2"></i>
          </div>
        </div> -->
        <div class="text-end">
          <a href="/edit_profile"><i class="fa-regular fa-pen-to-square text-white fa-lg ps-2 pt-2"></i></a>
         <a href="/setting"> <i class="fa-solid fa-gear text-white pt-2 ps-3  pe-3"></i></a>
        </div>
          
      </div>
      <div class="mb-3 ">
          <!-- <div class=" pb-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2856b0" fill-opacity="1" d="M0,96L120,122.7C240,149,480,203,720,202.7C960,203,1200,149,1320,122.7L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
          </div> -->
          <div style="display: flex;align-items: center;justify-content: center;">
          <div class=" mx-auto user_profile_img " style="position: absolute; top: 50px;">
              <img class="img_fluid w-100 " src="/static/images/profile2.png" alt="">
          </div>
                  
          </div>
        
      </div>
      
    

    </div>
          </div>
            <div class="row pt-5 " >
              <div class="c1 ">
                  <h6 class="text-center mt-0  text-uppercase text_name">name</h2>
                </div>
                <hr class="mb-2">
            </div>
            
              <div class="row pt-2">
                <div class="d-flex">
                    <div class="col-1">  <i class="fa-solid fa-image ps-1"></i></div>
                      <div class=" col-9 ps-2"> <p class="">Upload project photo</p> </div> 
                      <div class="col-2 text-end">
                        <a href="/upload_project_photo"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"><i class="fa-solid fa-file ps-1"></i></div>
                  <div class="col-9 ps-2"> <p class="">Your projects</p></div>
                  <div class="col-2 text-end">
                    <a href="/your_project"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <hr class="mb-2">

                <div class="d-flex">
                  <div class="col-1"><i class="fa-solid fa-users-viewfinder"></i></div>
                  <div class="col-9 ps-2"><p class="" >Followings</p></div>
                  <div class="col-2 text-end">
                    <a href="/followings"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"><i class="fa-solid fa-users"></i></div>
                  <div class="col-9 ps-2">  <p class="">Folowers</p></div>
                  <div class="col-2 text-end">
                    <a href="/folowers"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <hr class="mb-2">

                <div class="d-flex">
                  <div class="col-1"> <i class="fa-solid fa-cloud-arrow-up"></i></i></div>
                  <div class="col-9 ps-2">  <p class="">Your updates</p></div>
                  <div class="col-2 text-end">
                    <a href="/your_updates"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"> <i class="fa-solid fa-list-check"></i></div>
                  <div class="col-9 ps-2"> <p class="">Activity</p></div>
                  <div class="col-2 text-end">
                    <a href="/activity"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"> <i class="fa-solid fa-folder-plus"></i></div>
                  <div class="col-9 ps-2"> <p class="">Post</p></div>
                  <div class="col-2 text-end">
                    <a href="/post"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"> <i class="fa-solid fa-user"></i></div>
                  <div class="col-9 ps-2"> <p class="">Public Profile</p></div>
                  <div class="col-2 text-end"><a href="/pubic_profile"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"><i class="fa-solid fa-clock"></i></div>
                  <div class="col-9 ps-2"> <p class="">History</p></div> 
                  <div class="col-2 text-end">
                    <a href="/history"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>

                <div class="d-flex">
                  <div class="col-1"> <i class="fa-solid fa-circle-question"></i></div>
                  <div class="col-9 ps-2"> <p class="">Connect-1 SUPPORT</p></div>
                  <div class="col-2 text-end"><a href="/support"><i class="fa-solid fa-greater-than fa-xs text-black"></i></a></div>
                </div>
                <hr class="mb-0">

                <div class="d-flex pb-5 mt-1">
                  <div class="col-1"> <i class="fa-solid fa-right-from-bracket"></i></div>
                  <div class=" col-9 ps-2"> <p class="">Sign out</p></div>
                  <div class="col-2 text-end"><a href="/"><i class="fa-solid fa-greater-than fa-xs text-dark"></i></a></div>
                </div>

          </div>
        
        
      </div>
      
      
  <!--  -->
  <%- include('footer_home') -%>
  <%- include('footer') -%>