<%- include('header') -%>
<!--  -->



<style>
.boxshadow{
box-shadow: 0px 2px 2px 0px #d7d3d3;
}
.hight2{
    height:50vh;
}
.textbold{
    font-size: 23px;
    font-weight:700;
}
.backgroundColor{
   
   background-color: #001d3d;
}

</style>


<div class="container-fluid mx-0  px-0">
    <div class=" d-flex justify-content-start mt-0  py-2 boxshadow text-light topic w-100  mx-0 px-0  ">
    <div><i class="fa-solid fa-arrow-left ms-2  px-0 mx-0 font15"></i></div>
    <div><p class="font15 text-capitalize ms-3 mb-0 mx-0 px-0">Your Projects</p></div>
    </div>

<div class="d-flex justify-content-center align-items-center  flex-column hight2">
    <div><img src="./images/uploadsimage.jpeg" alt="" height="70px"  width="70px" class="rounded-circle img-fluid" srcset=""></div>
    <div><p class="textbold text-center">You haven't created any project yet</p>
    </div>
    <div class=" d-flex justify-content-center">
        <a href="#" class="text-uppercase border  border-primary py-2 px-5 text-decoration-none">upload a new project</a>
    </div>
</div>
</div>

</div>





<!--  -->
<%- include('footer') -%>