<%- include('header') -%>
<!--  -->
<div class="container-fluid your_self " >
    <div class="row ">
     
      <div class=" py-4 text-white">
        
        <h6 class="mb-0">
          <a href="/login_signup"><i class="fa-solid fa-arrow-left fa-lg ps-2 text-white"></i></a>
          <span class="ps-4"> Introduce Yourself</span></h6>
        <!-- <p class="f12 c1">Please enter the credentials below</p> -->
       </div >

<div class="ur_form px-3  pt-4 px-3 py-3">
   <form action="" method="post">
   
    <div class="mb-1 mt-2 border  border-dark i1 shadow2">
        <!-- <label for="">Email</label> -->
       <span class="">
        <i class="fa-solid fa-user fa-sm ps-2  mt-2"></i>
        <input class="w-75 ps-2 " type="text" placeholder=" First Name">
       </span>
      </div>
    <div class="mb-1 mt-2 border border-dark i1 shadow2">
        <!-- <label for="">Email</label> -->
       <span class="">
        <i class="fa-solid fa-user fa-xs ps-2"></i>
        <input class="w-75 ps-2" type="text" placeholder=" Last Name">
       </span>
      </div>
    <!-- <div class="mb-1 mt-2 border  border-dark i1">
        
       <span class="">
        <i class="fa-solid fa-phone fa-xs ps-2"></i>
        <input class="ps-2" type="email" placeholder=" Mobile Number">
       </span>
      </div> -->

      <div class="mb-1 mt-2 border  border-dark i1 shadow2">
        <!-- <label for="">Email</label> -->
       <span class="">
        <i class="fa-solid fa-location-dot fa-xs ps-2"></i>
        <input class="ps-2" type="text" placeholder=" Address Line 1">
       </span>
      </div>

      <div class="mb-1 mt-2 border  border-dark i1 shadow2">
        <!-- <label for="">Email</label> -->
       <span class="">
        <i class="fa-solid fa-location-dot fa-xs ps-2"></i>
        <input class="ps-2" type="text" placeholder=" Address Line 2">
       </span>
      </div>

      <div class="row"> 
        <div class="col-6">
            <div class="mb-1 mt-2 border  border-dark i1 shadow2">
                <!-- <label for="">Email</label> -->
               <span class="">
                <i class="fa-solid fa-map-pin  fa-xs ps-2"></i>
                <!-- <i class="fa-solid fa-location-dot fa-xs ps-2"></i> -->
                <input class="w-75 ps-3" type="text" placeholder="Pincode">
               </span>
              </div>
        </div>
        <div class="col-6">
            <div class="mb-1 mt-2 border border-dark i1 shadow2">
                <!-- <label for="">Email</label> -->
               <span class="">
                <i class="fa-solid fa-map fa-xs ps-2"></i>
                <input class="w-75 ps-2" type="text" placeholder=" State">
               </span>
              </div>
        </div>

    </div>

      <div class="mb-1 mt-2 border  border-dark i1 shadow2">
        <!-- <label for="">Email</label> -->
       <span class="">
        <i class="fa-solid fa-city fa-xs ms-2"></i>
        <input class="ps-2" type="text" placeholder=" City">
       </span>
      </div>

     

      <div class="text-center mb-3">
        <a class="f9" href="">Fill my currnet location</a>
      </div>

      <a type="button" class="btn  w-100 shadow2 back5" href="/profile">Save</a>
   </form>


   
    

</div>

 
  

  </div>
</div>
<!-- <div class="col-12 text-center px-0 m-0 pt-3 mb-0 ">
    
  <div class="copy_right  back p-0 m-0"> 
      <p>copyright 2023</p>
     </div>
   

</div> -->


<!--  -->
<%- include('footer') -%>