<%- include('header') -%>
<!--  -->

<div class="container-fluid sticky-top header">
    
    <div class="row justify-content-between py-2 px-0">
        <div class="col-3  editprofile ">
          <a href="/user_profile"><i class="fa-solid fa-arrow-left ms-1  px-0 mx-0 f19"></i></a>
        </div>
        <div class="col-5  text-end saveprofile  text-white">
            <p class="fw-bold">Your Updates</p>
        </div>
        
    </div>
</div>

<div class="container-fluid mx-0  px-0 mt-5 pt-5">


<div class="d-flex justify-content-center align-items-center  flex-column t">
    <div><img src="./images/speaker.png" alt="" height="70px"  width="70px" class="rounded-circle img-fluid" srcset=""></div>
    <div><p class="textbold">You have no Updates</p>
    </div>
<div class="px-2 text-center"><p class="f22 fw-bold">Tip: Follow friends and professionals to get updates</p>
</div>
</div>



</div>





<!--  -->
<%- include('footer') -%>